/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* FONDO */
body {
    min-height: 100vh;
    background: url("https://digitalstrings.com.co/wp-content/uploads/2024/03/ENCABEZADO-HOME-min.png")
        center / cover no-repeat fixed;
    background-color: #000;
    overflow-x: hidden;
    color: #FFFFFF;
}
/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 32px;

    background: rgba(0, 0, 0, 0.293);
    backdrop-filter: blur(8px);

    z-index: 1000;
}

/* CONTENIDO INTERNO */
.navbar-left {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.navbar-left img {
    height: 36px;
}

.navbar-left h1 {
    font-family: bebas neue;
    font-size: 40px;
    font-weight: 400;
}
.navbar-right a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.85;
  transition: opacity 0.25s ease, color 0.25s ease;
}

.navbar-right a:hover {
  opacity: 1;
  color: #F5B553;
}
/* RESPONSIVE */
@media (max-width: 600px) {
    .navbar-left img {
        height: 28px;
    }

    .navbar-left h1 {
        font-size: 18px;
    }
}
